{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "meteor": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-danger": "off",
    "no-underscore-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "import/no-unresolved": [2, { "ignore": ["meteor/empirica:"] }],
    "no-console": "off",
    "import/prefer-default-export": "off"
  }
}
